.venv/
backend/.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

node_modules/
.next/
out/

.env
.env.local
.env.development.local
.env.production.local

data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

fastf1_http_cache.sqlite

.taipy/
backend/.taipy/
user_data/
backend/user_data/

.vscode/
.idea/

.DS_Store
Thumbs.db